In [38]:
import pandas as pd

df = pd.read_csv("./data/salaries_by_college_major.csv")
df.isna()
clean_df = df.dropna()
clean_df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
20,English,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [39]:
print(clean_df["Mid-Career Median Salary"].max())
highest_idx = clean_df["Mid-Career Median Salary"].idxmax()
highest_major = clean_df["Undergraduate Major"].loc[highest_idx]
print(highest_major)
chem_grad_salary = clean_df["Starting Median Salary"].loc[highest_idx]
print(chem_grad_salary)

107000.0
Chemical Engineering
63200.0

In [40]:
lowest_idx = clean_df["Starting Median Salary"].idxmin()
lowest_major = clean_df["Undergraduate Major"].loc[lowest_idx]
print(lowest_major)
lowest_starting_salary = clean_df["Starting Median Salary"].loc[lowest_idx]
print(lowest_starting_salary)

Spanish
34000.0

In [41]:
lowest_median_major = clean_df["Undergraduate Major"].loc[clean_df["Mid-Career Median Salary"].idxmin()]
print(lowest_median_major)
lowest_median_index = clean_df.index[clean_df["Undergraduate Major"] == lowest_median_major][0]
# clean_df.loc[clean_df["Mid-Career Median Salary"].idxmin()]
clean_df.loc[lowest_median_index]

Education

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [44]:
mid_career_spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(1, "Mid-Career Spread", mid_career_spread_col)
clean_df.sort_values("Mid-Career Spread")

,Undergraduate Major,Mid-Career Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business
47,Religion,66700.0,34100.0,52000.0,29700.0,96400.0,HASS
23,Forestry,70000.0,39100.0,62600.0,41000.0,111000.0,Business
32,Interior Design,71300.0,36100.0,53200.0,35700.0,107000.0,HASS
18,Education,72700.0,34900.0,52000.0,29300.0,102000.0,HASS
15,Criminal Justice,74800.0,35000.0,56300.0,32200.0,107000.0,HASS
26,Graphic Design,76000.0,35700.0,59800.0,36000.0,112000.0,HASS
31,Information Technology (IT),84500.0,49100.0,74800.0,44500.0,129000.0,STEM
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business
48,Sociology,87300.0,36500.0,58200.0,30700.0,118000.0,HASS
29,Hospitality & Tourism,88500.0,37800.0,57500.0,35500.0,124000.0,Business
24,Geography,92000.0,41200.0,65500.0,40000.0,132000.0,HASS
46,Psychology,95400.0,35900.0,60400.0,31600.0,127000.0,HASS
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
5,Art History,96200.0,35800.0,64900.0,28800.0,125000.0,HASS
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
38,Mechanical Engineering,99300.0,57900.0,93600.0,63700.0,163000.0,STEM
20,English,99600.0,38000.0,64700.0,33400.0,133000.0,HASS
35,Management Information Systems (MIS),100700.0,49200.0,82300.0,45300.0,146000.0,STEM
21,Film,102100.0,37900.0,68500.0,33900.0,136000.0,HASS
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
11,Communications,105500.0,38100.0,70000.0,37500.0,143000.0,HASS
34,Journalism,106600.0,35600.0,66700.0,38400.0,145000.0,HASS
39,Music,107300.0,35900.0,55000.0,26700.0,134000.0,HASS
7,Business Management,108200.0,43000.0,72100.0,38800.0,147000.0,Business
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
25,Geology,111000.0,43500.0,79500.0,45000.0,156000.0,STEM
28,History,112000.0,39200.0,71000.0,37000.0,149000.0,HASS
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
14,Construction,114700.0,53700.0,88900.0,56300.0,171000.0,Business
30,Industrial Engineering,115900.0,57700.0,94700.0,57100.0,173000.0,STEM
16,Drama,116300.0,35900.0,56900.0,36700.0,153000.0,HASS
33,International Relations,118800.0,40900.0,80900.0,38200.0,157000.0,HASS
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
45,Political Science,126800.0,40800.0,78200.0,41200.0,168000.0,HASS
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business

In [45]:
#top 5 degrees with the highest potential (i.e., the highest 90th percentile)
highest_potential = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head(5)

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [46]:
clean_df.loc[clean_df["Mid-Career Spread"].idxmax()]
clean_df.sort_values("Mid-Career Spread", ascending=False).head()

,Undergraduate Major,Mid-Career Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

Economics has the highest 90th percentile salary but also the highest salary spread, meaning a lot of its graduate outcomes vary and opportunity exists.

In [47]:
clean_df.sort_values("Mid-Career Median Salary")

,Undergraduate Major,Mid-Career Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,72700.0,34900.0,52000.0,29300.0,102000.0,HASS
47,Religion,66700.0,34100.0,52000.0,29700.0,96400.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS
32,Interior Design,71300.0,36100.0,53200.0,35700.0,107000.0,HASS
39,Music,107300.0,35900.0,55000.0,26700.0,134000.0,HASS
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
15,Criminal Justice,74800.0,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,116300.0,35900.0,56900.0,36700.0,153000.0,HASS
29,Hospitality & Tourism,88500.0,37800.0,57500.0,35500.0,124000.0,Business
48,Sociology,87300.0,36500.0,58200.0,30700.0,118000.0,HASS
26,Graphic Design,76000.0,35700.0,59800.0,36000.0,112000.0,HASS
46,Psychology,95400.0,35900.0,60400.0,31600.0,127000.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
23,Forestry,70000.0,39100.0,62600.0,41000.0,111000.0,Business
20,English,99600.0,38000.0,64700.0,33400.0,133000.0,HASS
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
5,Art History,96200.0,35800.0,64900.0,28800.0,125000.0,HASS
24,Geography,92000.0,41200.0,65500.0,40000.0,132000.0,HASS
34,Journalism,106600.0,35600.0,66700.0,38400.0,145000.0,HASS
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
21,Film,102100.0,37900.0,68500.0,33900.0,136000.0,HASS
11,Communications,105500.0,38100.0,70000.0,37500.0,143000.0,HASS
28,History,112000.0,39200.0,71000.0,37000.0,149000.0,HASS
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
7,Business Management,108200.0,43000.0,72100.0,38800.0,147000.0,Business
31,Information Technology (IT),84500.0,49100.0,74800.0,44500.0,129000.0,STEM
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
45,Political Science,126800.0,40800.0,78200.0,41200.0,168000.0,HASS
25,Geology,111000.0,43500.0,79500.0,45000.0,156000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
33,International Relations,118800.0,40900.0,80900.0,38200.0,157000.0,HASS
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS
35,Management Information Systems (MIS),100700.0,49200.0,82300.0,45300.0,146000.0,STEM
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
14,Construction,114700.0,53700.0,88900.0,56300.0,171000.0,Business
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,99300.0,57900.0,93600.0,63700.0,163000.0,STEM
30,Industrial Engineering,115900.0,57700.0,94700.0,57100.0,173000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM

In [52]:
#investigate if STEM, Business or HASS (Humanities, Arts, and Social Science) has the highest salary
pd.options.display.float_format = '{:.2f}'.format
clean_df.groupby("Group").mean(numeric_only=True)

,Mid-Career Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.33,44633.33,75083.33,43566.67,147525.00
HASS,95218.18,37186.36,62968.18,34145.45,129363.64
STEM,101600.00,53862.50,90812.50,56025.00,157625.00

HASS sucks